.header__mobile__menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-dark);
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
    padding: 10rem;
    display: none;

}
